<h1> Login to Your Account</h1>
<br><br>
<form method="POST" action='/login'>
  <label for="email">Email:</label>
  <input type=text name="email">
  <br><br>
  <label for="password">Password:</label>
  <input type=password name="password">
  <br><br>
  <input type="submit" name="submit">
</form>
<br>
<p>or <a style="text-decoration: none" href="/signup">signup</a></p>
