<h2>Add a New Book</h2>
<form method="POST" action ="/books">
  <label> Title:</label>
  <input type="text" name="title">
  <br>  <br>
  <label> Author:</label>
  <input type="text" name="author">
  <br>  <br>
  <label> Genre:</label>
  <input type="text" name="genre">
  <br>  <br>
  <input type="submit" value="submit">
</form>
