<div class="container">
  <header><img src="images/baldwin_welcome.png" class="baldwin-img">
    <div class="sidebar">
      <h3>Login</h3>
      <form method="POST" action='/login'>
        <label for="email">Email:</label>
        <input type=text name="email">
        <br><br>
        <label for="password">Password:</label>
        <input type=password name="password">
        <br><br>
        <input type="submit" name="submit">
      </form>
      <br>
      <p>or <a style="text-decoration: none" href="/signup">signup</a></p>
    </div>
  </header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Beale Street </h2>
    <div class="content">
      <p>This is a home for your books. Add books to your collection using the navigation above. If you need help choosing, check out some of these <a href="https://www.oprahmag.com/entertainment/books/g26187205/best-books-black-authors/">suggestions</a>.</p>
    </div>
  </div>
</div>
